<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui-form" [formGroup]="authForm">
  <app-input
    label="Username:"
    inputType="text"
    [control]="authForm.get('username')"
  ></app-input>
  {{ authForm.get("username")?.errors | json }}
  <hr />
  <app-input
    label="Password:"
    inputType="password"
    [control]="authForm.get('password')"
  ></app-input>
  <hr />
  <app-input
    label="'Password Confirmation:"
    inputType="password"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>

  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors?.['passwordDontMatch']">
      Passwords and Password Confirmation MUST match
    </p>
    <p *ngIf="authForm.errors?.['noConnection']">No internet Connection</p>
  </div>
  <div>
    <button class="ui submit button primary" [disabled]="authForm.invalid">
      Submit
    </button>
  </div>

  <div>Errors with formgroup:{{ authForm.errors | json }}</div>
  <div>formgroup values:{{ authForm.value | json }}</div>
</form>
