<h3>Sign In</h3>
<form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username:"
    [control]="authForm.get('username')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password:"
    [control]="authForm.get('password')"
  ></app-input>

  <div *ngIf="authForm.errors" class="ui red basic label">
    <p *ngIf="authForm.errors?.['invalidCredentials']">Invalid Credentials</p>
  </div>
  <div>
    <button class="ui submit button primary" [disabled]="authForm.invalid">
      Submit
    </button>
  </div>
</form>
